@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 8% 5%;

    --card: 0 0% 98%;
    --card-foreground: 0 8% 5%;

    --popover: 0 0% 98%;
    --popover-foreground: 0 8% 5%;

    --primary: 5 94% 45%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 7% 94%;
    --secondary-foreground: 0 8% 5%;

    --muted: 0 7% 94%;
    --muted-foreground: 4 6% 45%;

    --accent: 53 97% 54%;
    --accent-foreground: 0 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 20 6% 90%;
    --input: 0 6% 83%;
    --ring: 4 24% 75%;

    --radius: 2rem;
  }

  .dark {
    --background: 60 4% 5%;
    --foreground: 0 0% 98%;

    --card: 0 3% 6%;
    --card-foreground: 0 0% 98%;

    --popover: 0 3% 6%;
    --popover-foreground: 0 0% 98%;

    --primary: 5 86% 53%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 2% 12%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 2% 18%;
    --muted-foreground: 12 2% 49%;

    --accent: 5 18% 12%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 2% 12%;
    --input: 0 2% 18%;
    --ring: 5 86% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
